    <%-include("header")-%>
    <h1><%= theDay %></h1>
    <h2><%= workTitle %></h2>
    <form action="/" method="post">
        <div class="card" style="width: 38rem;margin:auto; margin-bottom:2%">
            <img src="img.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 style="color:#f90;font-weight:bold;" class="card-title"><%= theDay %>  Work Schedule</h5>
              <p class="card-text">I have a lot of things to do today.</p>
            </div>
            <ul class="list-group list-group-flush">              
              <% for(let i=0;i<newItem.length;i++){ %>                
                <li class="list-group-item"><input class="form-check-input" type="checkbox" ><span><%= newItem[i] %></span></li>
              <% } %>

            </ul>
            <div class="card-body">
              <label style="color:#f90;font-weight:bold;" for="inputText">Enter your checklist</label>
              <input name="addedItem" id="inputText" type="text" class="form-control" placeholder="Add New Item" autocomplete="off">
              <button class="btn btn-dark submit" name="submit" type="submit" value=<%=workTitle%>>Send</button>
              <button class="btn btn-dark submit" name="submit" type="submit" value=<%='del' + workTitle%>>Clear List</button>
            </div>
        </div>
        
    </form>
    <%- include("footer") -%>



<!--
    önemli not:
    html tagları haric diğer tüm javascript içeren satırlar <% %> içerisine alınır
    bu sayada javascript kodları html tagları ile beraber kullanılabilir hale gelir.
     <% if(theDay === "Wednesday"){ %>
        <p style="color:darkred;font-size:2rem;">it's a </p>
    <% }else{ %>
        <p style="font-size:2rem;color:rgb(41, 255, 13);">it's a <%= theDay %>!</p>
    <% } %>
-->